<h1>Listagem de clientes</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>CPF/CNPJ</th>
    <th>Fone</th>
    <th>E-mail</th>
    <th>Endereço</th>
    <th>Cidade</th>
    <th>UF</th>
    <th>CEP</th>
    <th>Observações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientes.each do |cliente| %>
  <tr>
    <td><%= cliente.nome %></td>
    <td><%= cliente.cpfcnpj %></td>
    <td><%= cliente.fone %></td>
    <td><%= cliente.email %></td>
    <td><%= cliente.endereco %></td>
    <td><%= cliente.cidade %></td>
    <td><%= cliente.uf %></td>
    <td><%= cliente.cep %></td>
    <td><%= cliente.obs %></td>
    <td><%= link_to 'Exibir', cliente %></td>
    <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
    <td><%= link_to 'Excluir', cliente, confirm: 'Confirma exclusão?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Cliente', new_cliente_path %>
<%= link_to 'Voltar', root_path %>

