<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>CPF / CNPJ:</b>
  <%= @cliente.cpfcnpj %>
</p>

<p>
  <b>Telefone:</b>
  <%= @cliente.fone %>
</p>

<p>
  <b>E-mail:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Endereço:</b>
  <%= @cliente.endereco %>
</p>

<p>
  <b>Cidade:</b>
  <%= @cliente.cidade %>
</p>

<p>
  <b>UF:</b>
  <%= @cliente.uf %>
</p>

<p>
  <b>CEP:</b>
  <%= @cliente.cep %>
</p>

<p>
  <b>Observações:</b>
  <%= @cliente.obs %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
