<%= form_for(@servico) do |f| %>
  <% if @servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
      <% @servico.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= "Código cliente" %><br />
    <%= f.text_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :data %><br />
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :contato %><br />
    <%= f.text_field :contato %>
  </div>
  <div class="field">
    <%= "Descrição" %><br />
    <%= f.text_area :descr %>
  </div>
  <div class="field">
    <%= f.label :laudo %><br />
    <%= f.text_area :laudo %>
  </div>
  <div class="field">
    <%= "Solução" %><br />
    <%= f.text_area :solucao %>
  </div>
  <div class="field">
    <%= "Situação" %><br />
    <%= f.text_field :situacao %>
  </div>
  <div class="field">
    <%= "Número de horas" %><br />
    <%= f.text_field :numHoras %>
  </div>
  <div class="field">
    <%= "Valor hora" %><br />
    <%= f.text_field :valorHora %>
  </div>
  <div class="field">
    <%= "Valor total" %><br />
    <%= f.text_field :valorTotal %>
  </div>
  <div class="field">
    <%= "Técnico" %><br />
    <%= f.text_field :tecnico %>
  </div>
  <div class="field">
    <%= "Observações" %><br />
    <%= f.text_area :obs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
