<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>.:: Infotech ::.</title>
  <link rel="stylesheet" href="css/geral.css" type="text.css" />

</head><body bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0">
<table class="fundo" align="center" border="0" cellpadding="0" cellspacing="0" rules="none" width="775">
  <tbody>
    <tr>
      <td colspan="4" height="45" valign="middle">
      <div class="menu" align="right"><strong><font size="-1"><%= link_to 'Home', root_path %> | <%= link_to "Serviços", servicos_path %>
| <%= link_to 'Clientes', clientes_path %> | <%= link_to 'Usuários', usuarios_path %> | <%= link_to 'Notícias', posts_path %> | <%= link_to 'Login ' + (session[:username] == nil ? '' : session[:username]), login_url %>  | <%= link_to 'Logout ', logout_path %></strong></font></div>
      </td>		
    </tr>
    <tr><td colspan="3" height="100" ></td></tr>
    <tr>
      <td height="430" valign="top" class="textos" align="left"><h3>Serviços</h3></br>
		<table align="center" border="0" cellpadding="0" cellspacing="0" rules="none">
			<tbody>
				<tr class="dados">
					<td width="50" align="center">Código</td>					
					<td width="120" align="center">Data</td>
					<td width="120" align="center">Cliente</td>
					<td width="120" align="center">Tipo</td>
					<td width="120" align="center">Situação</td>
					<td width="120" align="center">Contato</td>
					<td width="90" >
						<%= link_to(image_tag("/images/adicionar.png", :alt => "Incluir OS", :title => "Incluir", :width => "24", :height => "24"), new_servico_path) %>
					</td>					
				</tr>
				<tr>
					<td colspan="7" align="top"><hr size="1" color="#000000"></td>				
				</tr>
				<% @servicos.each do |servico| %>				
				<tr>
					<td align="center"><%= servico.id %></td>					
					<td align="center"><%= servico.data %></td>
					<td align="center"><%= servico.cliente.nome %></td>
					<td align="center"><%= servico.tipo %></td>
					<td align="center"><%= servico.situacao %></td>					
					<td align="center"><%= servico.contato %></td>
					<td>
						<%= link_to(image_tag("/images/exibir.png", :alt => "Exibir OS", :title => "Exibir", :width => "24", :height => "24"), servico) %>
						<%= link_to(image_tag("/images/editar.png", :alt => "Editar OS", :title => "Editar", :width => "24", :height => "24"), edit_servico_path(servico)) %>						
						<%= link_to(image_tag("/images/excluir.png", :alt => "Excluir OS", :title => "Excluir", :width => "24", :height => "24"), servico, confirm: 'Confirma exclusão?', method: :delete) %>												
					</td>					
				</tr>	  
				<% end %>				
			</tbody>
		</table>	  
	  </td>	
    </tr>
    <tr>
      <td><font style="font-weight:bold;"><%= link_to 'Voltar', root_path %></font></td>		
    </tr>
    <tr>
      <td colspan="10" class="rodape" align="center" height="54" valign="middle">
      <div align="center"> <strong><a href="index.html">INFOTECH</a> - </strong>Ordem de Serviço
		<br/>Copyright © 2012 | Leandro | Alexsandro
      </div>
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>

</body></html>
