<h1>Listagem de serviços</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Data</th>
    <th>Tipo</th>
    <th>Contato</th>
    <th>Descrição</th>
    <th>Laudo</th>
    <th>Solução</th>
    <th>Situação</th>
    <th>Num. horas</th>
    <th>Valor hora</th>
    <th>Valor total</th>
    <th>Técnico</th>
    <th>Observações</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servicos.each do |servico| %>
  <tr>
    <td><%= servico.cliente.nome %></td>
    <td><%= servico.data %></td>
    <td><%= servico.tipo %></td>
    <td><%= servico.contato %></td>
    <td><%= servico.descr %></td>
    <td><%= servico.laudo %></td>
    <td><%= servico.solucao %></td>
    <td><%= servico.situacao %></td>
    <td><%= servico.numHoras %></td>
    <td><%= servico.valorHora %></td>
    <td><%= servico.valorTotal %></td>
    <td><%= servico.tecnico %></td>
    <td><%= servico.obs %></td>
    <td><%= link_to 'Exibir', servico %></td>
    <td><%= link_to 'Editar', edit_servico_path(servico) %></td>
    <td><%= link_to 'Excluir', servico, confirm: 'Confirma exclusão?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Serviço', new_servico_path %>
<%= link_to 'Voltar', root_path %>



