<p id="notice"><%= notice %></p>

<p>
  <b>Cliente:</b>
  <%= @servico.cliente_id %> - <%= @servico.cliente.nome %>
</p>

<p>
  <b>Data:</b>
  <%= @servico.data %>
</p>

<p>
  <b>Tipo:</b>
  <%= @servico.tipo %>
</p>

<p>
  <b>Contato:</b>
  <%= @servico.contato %>
</p>

<p>
  <b>Descrição:</b>
  <%= @servico.descr %>
</p>

<p>
  <b>Laudo:</b>
  <%= @servico.laudo %>
</p>

<p>
  <b>Solução:</b>
  <%= @servico.solucao %>
</p>

<p>
  <b>Situação:</b>
  <%= @servico.situacao %>
</p>

<p>
  <b>Número de horas:</b>
  <%= @servico.numHoras %>
</p>

<p>
  <b>Valor hora:</b>
  <%= @servico.valorHora %>
</p>

<p>
  <b>Valor total:</b>
  <%= @servico.valorTotal %>
</p>

<p>
  <b>Técnico:</b>
  <%= @servico.tecnico %>
</p>

<p>
  <b>Observações:</b>
  <%= @servico.obs %>
</p>


<%= link_to 'Editar', edit_servico_path(@servico) %> |
<%= link_to 'Voltar', servicos_path %>
