<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>.:: Infotech ::.</title>
  <link rel="stylesheet" href="../../css/geral.css" type="text.css" />

</head><body bottommargin="0" topmargin="0" leftmargin="0" rightmargin="0">
<table class="fundo" align="center" border="0" cellpadding="0" cellspacing="0" rules="none" width="775">
  <tbody>
    <tr>
      <td colspan="4" height="45" valign="middle">
      <div class="menu" align="right"><strong><font size="-1"><%= link_to 'Home', root_path %> | <%= link_to "Serviços", servicos_path %>
| <%= link_to 'Clientes', clientes_path %> | <%= link_to 'Usuários', usuarios_path %> | <%= link_to 'Notícias', posts_path %> | <%= link_to 'Login ' + (session[:username] == nil ? '' : session[:username]), login_url %>  | <%= link_to 'Logout ', logout_path %></strong></font></div>
      </td>		
    </tr>
    <tr><td colspan="3" height="100" ></td></tr>
    <tr>
      <td height="430" valign="top" class="textos" align="left"><h3>Usuário</h3></br>
		<table cellpadding="2" align="left" border="0" cellpadding="0" cellspacing="0" rules="none">
			<tbody>
				<%= form_for(@usuario) do |f| %>
					<% if @usuario.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this cliente from being saved:</h2>

							<ul>
								<% @usuario.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
								<% end %>
							</ul>
						</div>
					<% end %>
				<tr class="dados">
					<td width="210" align="right">Login:</td>
					<td width="10"></td>					
					<td align="left"><%= f.text_field :login %></td>
                    <td width=90>
						<%= link_to(image_tag("/images/excluir.png", :alt => "Voltar", :title => "Voltar", :width => "24", :height => "24"), usuarios_path) %>																							
					</td>					
				</tr>					
				<tr class="dados">
					<td align="right">Senha:</td>
					<td width="10"></td>					
					<td align="left"><%= f.password_field :senha %></td>
				</tr>				
				<tr class="dados">
					<td align="right">Confirmação da Senha:</td>
					<td width="10"></td>					
					<td align="left"><%= f.password_field :senha_confirmation %></td>
				</tr>				
				<tr class="dados">
					<td align="right">Nome:</td>
					<td width="10"></td>					
					<td align="left"><%= f.text_field :nome %></td>
				</tr>								
				<tr class="dados">
					<td align="right">E-mail:</td>
					<td width="10"></td>					
					<td align="left"><%= f.text_field :email %> </td>
				</tr>								
				<tr>
					<td align="right"></td>
					<td width="10"></td>										
					<td align="left" class="actions"><%= f.submit "Cria Usuário" %></td>
			    </tr>			
				<% end %>
			</tbody>
		</table>	  
	  </td>	
    </tr>
    <tr>
    </tr>
    <tr>
      <td><font style="font-weight:bold;"><%= link_to 'Voltar', usuarios_path %></font></td>				
    </tr>
    <tr>
    </tr>
    <tr>
      <td colspan="10" class="rodape" align="center" height="54" valign="middle">
      <div align="center"> <strong><a href="index.html">INFOTECH</a> - </strong>Ordem de Serviço
		<br/>Copyright © 2012 | Leandro | Alexsandro
      </div>
      </td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>

</body></html>
