#encoding: utf-8
<h1>Listagem de usuários</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%= usuario.login %></td>
    <td><%= usuario.nome %></td>
    <td><%= link_to 'Exibir', usuario %></td>
    <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
    <td><%= link_to 'Excluir', usuario, confirm: 'Confirma exclusão?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Usuário', new_usuario_path %>
<%= link_to 'Voltar', root_path %>
